html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 3em;
  padding-top: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.results {
  background-color: black;
  color: white;
  width: 100%;
  text-align: right;
  padding-right: 0.5em;
}
button {
  font-size: 1.25em;
  width: 25%;
  height: 25%;
  background-color: #d8d9db;
}
button:hover {
  background-color: #ebebeb;
}
button:active {
  background-color: #bbbcbe;
}
.clear {
  width: 50%;
}
.zeroKey {
  width: 75%;
}
.functionButton {
  background-color: #df974c;
  color: #fff;
}
.functionButton:hover {
  background-color: #dfb07e;
}
.functionButton:active {
  background-color: #dd8d37;
}
